<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title_tag_text }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{{ '/css/normalize.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/solo.css' | relative_url }}">
{% include head.html %}
</head>
<body>
  <div class="container">
    <h1><a href="./">{{ site.h1_tag_text }}</a></h1>
    {{ content }}
  </div>
{% include scripts.html %}
</body>
</html>
